html, body {
	height: 100vh;
	margin: 0; padding: 0;  /* to avoid scrollbars */
}

#root{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.card-title {
    font-size: large;
    font-weight: 600;
}

.card-subtitle {
    font-size: large;
}

a.active.nav-link {
    font-weight: bold;
}

.nav-link {
	cursor: pointer;
	padding: .2rem 0.5rem !important;
}

.clickable{
    cursor: pointer;
}

